<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h1>Meteo</h1>
        </a>

    </div>
</nav>

<div class="container">
    <div class="row p-3">
        <form class="d-flex" role="search">
            <input class="form-control me-2" placeholder="Inserire latitudine" aria-label="Search" name="lat" [(ngModel)]="lat">
            <input class="form-control me-2" placeholder="inserire longitudine" aria-label="Search" name="lng" [(ngModel)]="lng">
            <button class="btn btn-outline-success" type="submit" [routerLink]="['/dettaglio', lat,lng]">Search</button>
        </form>

    </div>
</div>